[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-wtf = "*"
flask-cors = "*"
requests = "*"
python-dotenv = "*"
gunicorn = "*"
