{% extends 'layout.html' %}

{% block content %}
 <h4 id="title">Welcome to captureWHERE</h4>
 
<div class="container signupPage">
  <form class="form-signin form-signup" action="/signup" method="POST">
        {{ form.hidden_tag() }}
    <h2 class="form-signin-heading">Sign Up</h2>
        <br />  
        <div class="form-group">    
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email Address")}}
                <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control", placeholder="Email Address")}}
            {% endif %}
        </div>
        
       <div class="form-group">
            {% if form.password.errors %}
                {{ form.password(class="form-control", placeholder="Password")}}
                <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", placeholder="Password")}}
            {% endif %}
        </div>
        
       <div class="form-group">
            {% if form.password_confirmation.errors %}
                {{ form.password_confirmation(class="form-control", placeholder="Password")}}
                <div class="invalid-feedback">
                        {% for error in form.password_confirmation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                </div>
            {% else %}
                {{ form.password_confirmation(class="form-control", placeholder="Confirm Password")}}
            {% endif %}
        </div>
        
    <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block")}}
        </div>
  </form>
  <p>
    <small>Have an account?</small>
    <a href="{{ url_for('login')}}">
      <strong>Login</strong>
    </a>
  </p>
</div>
{% endblock %}